.hello::before {
  content: "***";
  color: red;
}
.hello::after {
  content: "***";
  color: red;
}

.imagesBox {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: gainsboro;
}

.imagesBox > * {
  border-radius: 50%;
}
